/* 清除样式 */
@import "./reset.scss";

#app {
    width: 100vw;
    height: 100vh;
    background-color: $primaryColor;
}

.fill {
    width: 100%;
    height: 100%;
}

.flex-row-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
